header{
    background-color:rgb(51, 205, 219) ;
    padding: 10px;
}

header a {
    background-color: blanchedalmond;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 24px;

}

body{
    background-color: antiquewhite;
    font-size: 21px;
    text-align: center;
}

footer{
    background-color:rgb(242, 201, 147) ;
}

 main img {
    border: 5px solid rgb(116, 236, 200);
}

.title{
    color: rgb(62, 18, 236);
}

h2{
    border-bottom: 5px solid rgb(239, 162, 193);
}

h3{
    
}
